$main-color: #ff5f00;
$dark-main-color: $main-color 80%;
$second-color: #0087ff;

Header {
    dock: top;
    height: 6;
    margin: 0 0 1 1;
}

Footer {
    dock: bottom;
    height: 1;
    background: $surface;
    color: $dark-main-color;
}

Footer > .footer--highlight {
    background: $boost;
    color: $main-color;
}

Footer > .footer--highlight-key {
    background: $main-color;
    color: black;
}

Footer > .footer--key {
    color: black;
    background: $dark-main-color;
}