Header {
    dock: top;
    height: 6;
    margin: 0 0 1 1;
}

Footer {
    dock: bottom;
    height: 1;
    background: $surface;
    color: $primary-darken-1;
}

Footer > .footer--highlight {
    background: $boost;
    color: $primary;
}

Footer > .footer--highlight-key {
    background: $primary;
    color: black;
}

Footer > .footer--key {
    background: $primary-darken-1;
    color: black;
}

Tree {
    border: solid $secondary-background;
    background: $surface;
    width: 35;
}

Tree:focus {
    border: heavy $secondary;
}